* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 128px;
  padding-right: 128px;
}

@media (max-width: 1024px) {
  .container {
    padding-left: 64px;
    padding-right: 64px;
  }
}

@media (max-width: 767px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-color: #FFF;
  margin: 6px 0px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.hamburger.is-active:before {
  -webkit-transform: rotate(-45deg) translate(-8px, 6px);
          transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
  -webkit-transform: rotate(45deg) translate(-9px, -8px);
          transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: #12002F;
  padding-top: 120px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  background-color: #1f103F;
  color: #FFF;
  text-decoration: none;
}

.mobile-nav a:hover {
  background-color: #24104f;
}

@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
  .hamburger {
    display: none;
  }
}

section h2 {
  text-align: center;
  margin-bottom: 32px;
  text-transform: uppercase;
  color: #313131;
  font-size: 36px;
}

.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  background: none;
  display: inline-block;
  color: #FFF;
  font-size: 20px;
  background-color: #FF9FDB;
  padding: 12px 16px;
  border-radius: 8px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

@media (max-width: 767px) {
  .button {
    font-size: 18px;
  }
}

img {
  max-width: 100%;
}

header {
  color: #9c3f3f;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: #12002F;
}

header .container {
  padding-top: 32px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("C:UsersTSWRSownloadsSPA-portfolio-page-mainSPA-portfolio-page-main\assetsimagespexels-icsa-1709003.jpg");
}

header .container h2 {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 900;
}

header .container h2 span {
  font-weight: 600;
}

header .container nav {
  display: -ms-grid;
  display: grid;
  grid-gap: 16px;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
}

@media (max-width: 767px) {
  header .container nav {
    display: none;
  }
}

header .container nav a {
  color: inherit;
  font-size: 20px;
  text-decoration: none;
}

header.is-scrolling {
  background-color: #12002F;
}

header.is-scrolling .container {
  padding-top: 16px;
  padding-bottom: 16px;
}

section.about {
  padding: 1em;
  margin: auto;
  color: black;
  text-align: justify;
  height: 500px;
  top: 50%;
  left: 50%;
  color: red;
}

section.about .left p {
  color: aqua;
}
/*# sourceMappingURL=mains.css.map */