
.about{
    @media (max-width: 1024px) {
        padding-left: 64px;
        padding-right: 64px;
        h1{
            font-size: 16px;
        }
    }
    
    @media (min-width: 767px) {
        padding-left: 32px;
        padding-right: 32px;
        h1{
            font-size: 16px;
        }
        font-size: 16px;
}

}